<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>To Do List</title>
    <meta charset="utf-16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/light.css'%}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'css/dark.css'%}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{% static 'css/vk.css'%}">
    <link rel="icon" type = "image/svg" href="{% static 'img/icon.svg'%}">
    <link rel="favicon" type = "image/ico" href="{% static 'img/favicon.ico'%}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icon.png'%}">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png'%}">
  </head>
  <body>
    <div class="heading">Добро пожаловать</div>
    <div class="form">
      {% csrf_token %}
      <div class="user_data">
        <input class="form__input" type="text" id="mail" placeholder="Ваша почта: " tabindex="1">
        <input class="form__input" type="password" id="password" placeholder="Ваш пароль: " tabindex="2">
        <div class="Legging">
          <button class="login" type="submit" name="login" tabindex="3">Войти</button>
          <fieldset class="switcher">
            <legend class="switcher__legend">Цветовая Схема</legend>
            <input class="switcher__radio switcher__radio--light" type="radio" name="color-scheme" value='light' aria-label="Светлая">
            <input class="switcher__radio switcher__radio--auto" type="radio" name="color-scheme" value='auto'  aria-label="Системная" checked>
            <input class="switcher__radio switcher__radio--dark" type="radio" name="color-scheme" value='dark' aria-label="Тёмная">
            <div class="switcher__status"></div>
          </fieldset>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/colorscheme.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
  </body>
</html>