<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>To Do List</title>
    <meta charset="utf-16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/light.css'%}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{% static 'css/dark.css'%}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{% static 'css/vk.css'%}">
    <link rel="icon" type = "image/svg" href="{% static 'img/icon.svg'%}">
    <link rel="icon" type = "image/ico" href="{% static 'img/favicon.ico'%}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/icon.png'%}">
    <link rel="apple-touch-icon" href="{% static 'img/icon.png'%}">
  </head>
  <body>
    <div class="log_in_button">
      <a class="log_in" href="{% url 'account' %}">Вход</a>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>